<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Category</div>
  <div class="page__content shadow p-3 position-relative">


    <div class="row">
      <div class="col-10 mt-3">
        <div class="input-group mb-3 ">
          <input type="text" class="form-control" placeholder="Type Category Name or ID..." aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btnSearch btn btn-primary" type="button" id="button-addon2">Search</button>
        </div>
      </div>
      <div class="col-2 mt-3">
        <button  type="button" class="btn btnSupplier btn-primary" (click)="open(content)" >
          Category <i class="fas fa-plus"></i> </button>
      </div>
    </div>

    <!-- Table -->
    <table class="table mt-4">
      <thead >
      <tr style="text-align: center">
        <th scope="col">Category ID</th>
        <th scope="col">Category Name</th>
        <th scope="col">Description</th>
        <th scope="col">Option</th>
      </tr>
      </thead>
      <tbody>
      <tr style="text-align: center">
        <th scope="row">001</th>
        <td></td>
        <td></td>
        <td>
          <button class="option">
            <i class="fas fa-trash-alt"></i>
          </button>&nbsp;
          <button class="option">
            <i class="fas fa-pen-alt"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Modal -->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">New Category</h4>
        <a type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <form [formGroup]="formValue">
              <div class="mb-3">
                <label for="exampleInputName1" class="form-label">Category Name</label>
                <input type="text" formControlName="supplierName" class="form-control" id="exampleInputName1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputAddress1" class="form-label">Uniq Price</label>
                <input type="text" formControlName="address" class="form-control" id="exampleInputAddress1">
              </div>
              <div class="mb-3">
                <label for="exampleInputPhoneNo1" class="form-label">Pieces</label>
                <input type="text" formControlName="phoneNo" class="form-control" id="exampleInputPhoneNo1">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputRegistrationNo1" class="form-label">Registration No</label>
                <input type="text" formControlName="registrationNo" class="form-control" id="exampleInputRegistrationNo1">
              </div>
            </form>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" (click)="modal.close('Save click')">Add</a>
      </div>
    </ng-template>
  </div>
</div>
