.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 90px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 30px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
  }
}

.btnSearch{
  border-radius: 25px;
}

.btnSupplier{
  font-size: 15px;
  border-radius: 15px;
}

.col-2{
  text-align: center;
}

.table{
  font-size: 15px;
}

.option{
  background: white;
  border: white;
}

#modal-basic-title{
  font-size: 25px;
  font-weight: bold;
  margin-left: 150px;
}
