<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Place Order</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="input-group mb-3 mt-3">
      <input type="text" class="form-control" placeholder="Search Category Name or Item ID..." aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btnSearch btn btn-primary" type="button" id="button-addon2">Search</button>
    </div>

    <table class="table mt-3">
      <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Item Name</th>
        <th scope="col">Qty</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">01</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">02</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">03</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">04</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">05</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">06</th>
        <td colspan="3">Total Cost</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">07</th>
        <td colspan="3">Discount</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">08</th>
        <td colspan="3">Discount</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">09</th>
        <td colspan="3">Total Price</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td colspan="3">Cash</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td colspan="3">Balance</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
