<mat-nav-list>
  <div class="logo py-4">
    <img width="50px" height="50px" src="../../assets/images%20(1).jpg" alt="" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2"></h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="placeorder">
    <mat-icon>edit</mat-icon> Place Order </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="supplier">
    <mat-icon>edit</mat-icon> Supplier </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="category">
    <mat-icon>edit</mat-icon> Category </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
</mat-nav-list>
